{{#if post}}

  {{#docs-demo as |demo|}}
    {{#demo.example name='working-with-relationships-demo-1.hbs'}}

      <div class="tr">
        {{#ui-button style='small' onClick=(action 'reset')}}
          Reset
        {{/ui-button}}
      </div>

      {{#liquid-if loadComments.lastSuccessful}}

        <p data-test-id="load-comments-count">
          The post has {{post.comments.length}} comments.
        </p>

      {{else}}

        {{#ui-button
          onClick=(perform loadComments)
          disabled=loadComments.isRunning
          data-test-id='load-comments'}}
          {{if loadComments.isIdle 'Load comments' 'Loading...'}}
        {{/ui-button}}

      {{/liquid-if}}

    {{/demo.example}}

    {{demo.snippet 'working-with-relationships-demo-1.js'}}
    {{demo.snippet 'working-with-relationships-demo-1.hbs'}}
  {{/docs-demo}}

{{else}}

  <p>Loading demo...</p>

{{/if}}
