<div class={{this.styleNamespace}}>
<div class='demo1'>
  <div class="demo1__top-section">
    <div class="demo1__flex">
      <h2 class="demo1__section-heading">App</h2>
      <div class="demo1__mla">
        <button {{on "click" this.reset}} type="button" class='demo1__btn'>Reset</button>
      </div>
    </div>

    <div class="demo1__panel">
      <div class="demo1__flex demo1__flex-items-center">
        <a {{on "click" (fn this.visitRoute '/posts')}}
          class="demo1__app-link {{if (eq this.activeRoute '/posts') 'demo1__app-link-active'}}">
          /posts
        </a>
        <a {{on "click" (fn this.visitRoute '/posts/1')}}
          class="demo1__app-link {{if (eq this.activeRoute '/posts/1') 'demo1__app-link-active'}}">
          /posts/1
        </a>
        <span class='demo1__app-url demo1__mla'>
          {{this.activeRoute}}
        </span>
      </div>

      {{#if this.visit.isRunning}}
        <p class='demo1__subtle'><FaIcon @icon='spinner' @spin={{true}} /> Loading {{this.activeRoute}}...</p>
      {{else}}
        {{#if (eq this.activeRoute '/posts/1')}}
          <p>
            {{!-- BEGIN-SNIPPET demo1-posts1-template.hbs --}}
            {{! template }}
            {{this.model.title}}
            {{!-- END-SNIPPET --}}
          </p>
        {{else if (eq this.activeRoute '/posts')}}
          <ul class='demo1__list'>
            {{!-- BEGIN-SNIPPET demo1-posts-template.hbs --}}
            {{! template }}
            {{#each this.model as |post|}}
              <li>{{post.title}}</li>
            {{/each}}
            {{!-- END-SNIPPET --}}
          </ul>
        {{else}}
          <p>Visit a route.</p>
        {{/if}}
      {{/if}}

    </div>

    <div class='demo1__expander'>
      <a {{on "click" this.toggleExpand}}>
        {{#if this.isExpanded}}
          <FaIcon @icon='angle-up' />
        {{else}}
          <FaIcon @icon='angle-down' />
        {{/if}}
      </a>
    </div>
  </div>


  {{#if this.isExpanded}}
    <div class="demo1__bottom-section">
      <div class="demo1__bottom-left-section">
        <h2 class="demo1__section-heading">Server</h2>
        <div class="demo1__panel">
          <h3 class="demo1__panel-title">Resources</h3>
          <h4 class="demo1__panel-subtitle">POSTS</h4>
          <table class="demo1__table">
            <thead>
              <tr>
                <td style='width: 36%'>id</td>
                <td>title</td>
              </tr>
            </thead>
            <tbody>
              {{#each this.serverPosts as |post|}}
                <tr>
                  <td>{{post.id}}</td>
                  <td>{{post.title}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <div class="demo1__bottom-right-section">
        <h2 class="demo1__section-heading">Client</h2>

        <div class="demo1__flex">
          <div class="demo1__flex-w50">
            <div class="demo1__panel">
              <h3 class="demo1__panel-title">Store</h3>
              <h4 class="demo1__panel-subtitle">
                POSTS ({{this.clientPosts.length}})
              </h4>
              <table class="demo1__table">
                <thead>
                  <tr>
                    <td style='width: 36%'>id</td>
                    <td>title</td>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.clientPosts as |post|}}
                    <tr>
                      <td>{{post.id}}</td>
                      <td>{{post.title}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="demo1__flex-w50">
            <div class="demo1__panel">
              <h3 class="demo1__panel-title">History</h3>
              <ul class='demo1__list'>
                {{#each this.visitedRoutes as |route|}}
                  <li>{{route}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        <div class="demo1__panel">
          <h3 class="demo1__panel-title">Routes</h3>
          <h4 class="demo1__panel-subtitle">/posts</h4>
          <div>
            <DocsSnippet @name="demo1-posts-route.js" />
            <DocsSnippet @name="demo1-posts-template.hbs" />
          </div>

          <h4 class="demo1__panel-subtitle">/posts/1</h4>
          <div>
            <DocsSnippet @name="demo1-posts1-route.js" />
            <DocsSnippet @name="demo1-posts1-template.hbs" />
          </div>
        </div>

      </div>
    </div>
  {{/if}}
</div>
</div>
