{{#if this.post}}

  <DocsDemo as |demo|>
    <demo.example @name='working-with-relationships-demo-2.hbs'>

      <div class="tr">
        <UiButton @style="small" @onClick={{this.reset}}>
          Reset
        </UiButton>
      </div>

      {{#liquid-if this.sideloadComments.lastSuccessful}}

        <p data-test-id="sideload-comments-count">
          The post has {{this.post.comments.length}} comments.
        </p>

      {{else}}

        <UiButton
          @onClick={{perform this.sideloadComments}}
          @disabled={{this.sideloadComments.isRunning}}
          data-test-id="sideload-comments">
          {{if this.sideloadComments.isIdle "Reload with comments" "Loading..."}}
        </UiButton>

      {{/liquid-if}}

    </demo.example>

    {{demo.snippet 'working-with-relationships-demo-2.js'}}
    {{demo.snippet 'working-with-relationships-demo-2.hbs'}}
  </DocsDemo>

{{else}}

  <p>Loading demo...</p>

{{/if}}
