{{#if post}}

  {{#docs-demo as |demo|}}
    {{#demo.example name='working-with-relationships-demo-2.hbs'}}

      <div class="tr">
        {{#ui-button style='small' onClick=(action 'reset')}}
          Reset
        {{/ui-button}}
      </div>

      {{#liquid-if sideloadComments.lastSuccessful}}

        <p data-test-id="sideload-comments-count">
          The post has {{post.comments.length}} comments.
        </p>

      {{else}}

        {{#ui-button
          onClick=(perform sideloadComments)
          disabled=sideloadComments.isRunning
          data-test-id='sideload-comments'}}
          {{if sideloadComments.isIdle 'Reload with comments' 'Loading...'}}
        {{/ui-button}}

      {{/liquid-if}}

    {{/demo.example}}

    {{demo.snippet 'working-with-relationships-demo-2.js'}}
    {{demo.snippet 'working-with-relationships-demo-2.hbs'}}
  {{/docs-demo}}

{{else}}

  <p>Loading demo...</p>

{{/if}}
