<div>
  The post has {{this.comments.length}} comments.
</div>

<div>
  The post has {{this.returnValue.length}} comments.
</div>

<button type="button" {{on "click" this.createServerComment}}>
  Create comment on server
</button>

|

<button type="button" {{on "click" this.loadComments}}>
  Load comments
</button>

|

<button type="button" {{on "click" this.makeSiteSlow}}>
  Make site slow
</button>
