<div>
  The post has {{comments.length}} comments.
</div>

<div>
  The post has {{returnValue.length}} comments.
</div>

<button {{action "createServerComment"}}>
  Create comment on server
</button>

|

<button {{action "loadComments"}}>
  Load comments
</button>

|

<button {{action "makeSiteSlow"}}>
  Make site slow
</button>
