<div class={{this.styleNamespace}}>
<div class='demo2' data-test-id='demo2'>
  <div class="demo2__top-section">
    <div class="demo2__flex">
      <h2 class="demo2__section-heading">App</h2>
      <div class="demo2__mla">
        <button {{on "click" this.resetState}} type="button" class='demo2__btn'>Reset</button>
      </div>
    </div>

    <div class="demo2__panel">
      <div class="demo2__flex demo2__flex-items-center">
        <a {{on "click" (fn this.visitRoute '/posts')}}
          class="demo2__app-link {{if (eq this.activeRoute '/posts') 'demo2__app-link-active'}}"
          data-test-id='posts-link'>
          /posts
        </a>
        <a {{on "click" (fn this.visitRoute '/posts/1')}}
          class="demo2__app-link {{if (eq this.activeRoute '/posts/1') 'demo2__app-link-active'}}"
          data-test-id='post1-link'>
          /posts/1
        </a>
        <span class='demo2__app-url demo2__mla'>
          {{this.activeRoute}}
        </span>
      </div>

      <div data-test-id='app-ui'>
        {{#if this.visit.isRunning}}
          <p class='demo2__subtle'>{{fa-icon 'spinner' spin=true}} Loading {{this.activeRoute}}...</p>
        {{else}}
          {{#if (eq this.activeRoute '/posts/1')}}
            <p>
              {{!-- BEGIN-SNIPPET demo2-posts1-template.hbs --}}
              {{! template }}
              {{this.model.title}}
              {{!-- END-SNIPPET --}}
            </p>
          {{else if (eq this.activeRoute '/posts')}}
            <ul class='demo2__list'>
              {{!-- BEGIN-SNIPPET demo2-posts-template.hbs --}}
              {{! template }}
              {{#each this.model as |post|}}
                <li>{{post.title}}</li>
              {{/each}}
              {{!-- END-SNIPPET --}}
            </ul>
          {{else}}
            <p>Visit a route.</p>
          {{/if}}
        {{/if}}
      </div>

    </div>

    <div class='demo2__expander'>
      <a {{on "click" this.toggleExpand}}>
        {{#if this.isExpanded}}
          {{fa-icon 'angle-up'}}
        {{else}}
          {{fa-icon 'angle-down'}}
        {{/if}}
      </a>
    </div>
  </div>


  {{#if this.isExpanded}}
    <div class="demo2__bottom-section">
      <div class="demo2__bottom-left-section">
        <h2 class="demo2__section-heading">Server</h2>
        <div class="demo2__panel">
          <h3 class="demo2__panel-title">Resources</h3>
          <h4 class="demo2__panel-subtitle">POSTS</h4>
          <table class="demo2__table">
            <thead>
              <tr>
                <td style='width: 36%'>id</td>
                <td>title</td>
              </tr>
            </thead>
            <tbody>
              {{#each this.serverPosts as |post|}}
                <tr>
                  <td>{{post.id}}</td>
                  <td>{{post.title}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <div class="demo2__bottom-right-section">
        <h2 class="demo2__section-heading">Client</h2>

        <div class="demo2__flex">
          <div class="demo2__flex-w50">
            <div class="demo2__panel">
              <h3 class="demo2__panel-title">Store</h3>
              <h4 class="demo2__panel-subtitle">
                POSTS ({{this.clientPosts.length}})
              </h4>
              <table class="demo2__table">
                <thead>
                  <tr>
                    <td style='width: 36%'>id</td>
                    <td>title</td>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.clientPosts as |post|}}
                    <tr>
                      <td>{{post.id}}</td>
                      <td>{{post.title}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="demo2__flex-w50">
            <div class="demo2__panel">
              <h3 class="demo2__panel-title">History</h3>
              <ul class='demo2__list'>
                {{#each this.visitedRoutes as |route|}}
                  <li>{{route}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        <div class="demo2__panel">
          <h3 class="demo2__panel-title">Routes</h3>
          <h4 class="demo2__panel-subtitle">/posts</h4>
          <div>
            <DocsSnippet @name="demo2-posts-route.js" />
            <DocsSnippet @name="demo2-posts-template.hbs" />
          </div>

          <h4 class="demo2__panel-subtitle">/posts/1</h4>
          <div>
            <DocsSnippet @name="demo2-posts1-route.js" />
            <DocsSnippet @name="demo2-posts1-template.hbs" />
          </div>
        </div>

      </div>
    </div>
  {{/if}}
</div>
</div>